@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

html, body{
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
	background-color: #35383D;
	list-style: none;
}

html{
	scroll-behavior: smooth;
}

*{
	text-decoration: none!important;
}

:root{
	--purple: #9D65C9;
	--blurple: #7289DA;
	--red: #f7584d;
	--dark-bg: #23272A;
	--bold: 70px;
	--medium: 55px;
	--regular: 20px;
	--small: 19px;

}


.overlay{
	z-index: 20000;
	position: fixed;
	pointer-events: none;
	width: 100%;
	height: 100vh;
	background: #000;
	top: 0%;
}

.overlay h1{
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	transform: translate(-50%, -50%);
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: 12px;
}

.overlay img{
	position: absolute;
	transform: skew(-0.06turn, 18deg);
	right: 0;
	bottom: 0;
	opacity: .5;
	width: 80px;
}

/* nav */

.grid{
  max-width: 1204px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}
.wrapper{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/*===== NAV =====*/
.nav{
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  background: #fff;
}

@media screen and (max-width: 768px){
  .menu{
    position: fixed;
    top: 3rem;
    right: -100%;
    width: 50%;
    height: 100%;
    padding: 2rem;
    background-color: #0E2431;
    backdrop-filter: blur(10px);
    transition: .5s;
  }
}

.item{
  margin-bottom: 2rem;
  list-style: none;
}
.link{
  position: relative;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}

.logo{
  color: var(--black);
  font-weight: 700;
  font-size: 1.3rem;
}
.toggle{
  color: var(--black);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active{
  color: var(--purple);  
}

.show{
  right: 0;
}



@media screen and (min-width: 768px){
  .nav{
    height: calc(3rem + 1rem);
  }
  .list{
  	list-style: none;
    display: flex;
    padding-top: 0;
  }
  .item{
    margin-left: 3rem;
    margin-bottom: 0;
    list-style: none;
  }
  .toggle{
    display: none;
  }
  .link{
    color: #000;
  }
  .active{
    color: var(--purple);
    font-weight: 700;  
  }
}


@media screen and (min-width: 1024px){
  .grid{
    margin-left: auto;
    margin-right: auto;
  }
}

/* LANDING */


.landing {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	background: url(images/bg.png);
	background-size: 100%;
	height: 725px;
	margin-bottom: 50px;
	z-index: 100;
}

.landing .top-right-gradient{
	position: absolute;
	top: -40%;
	right: -20%;
	width: 700px;
	height: 700px;
	border-radius: 50%;
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.landing .bottom-left-gradient{
	position: absolute;
	bottom: 10px;
	left: -2%;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.landing .text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30%;
	margin-top: 20px;
	height: 200px;
	animation: moveRight 0.6s ease-in-out;
} 

.landing .text .title{
	font-size: var(--bold);
	color: #fff;
	margin: 0!important;
	padding-bottom: 10px;
	line-height: 85px;
}

.landing .text .title span{
	color: var(--purple);
}


.landing .text .description{
	font-size: var(--regular);
	line-height: 35px;
	color: #fff;
	opacity: .9;
	margin: 15px 0 25px;
	font-weight: 350;
}

.landing .text .buttons .color{
	width: 200px;
	margin-right: 20px;
	text-align: center;
	font-size: var(--regular);
	padding: 18px 20px;
	border-radius: 50px;
	background-color: var(--purple);
	transition: 0.2s;	
}
.landing .text .buttons .color:hover{
	transform: translateY(-1px);
}


.landing .text .button{
	width: 200px;
	text-align: center;
	font-size: var(--regular);
	padding: 18px 20px;
	border-radius: 50px;
}

.landing .text .button:hover{
	box-shadow: 0 8px 15px rgba(0,0,0,.2);
}


.landing .text a{
	display: inline-block;
	font-weight: 700;
	color: #fff;
}


.landing .logo .image{
	animation: moveLeft 0.6s ease-in-out;
	width: 679px;
	/*height: 567.11px;*/
	margin-top: 50px;
	transition: 0.5s;
}



/* ABOUT */

.about{
	height: 600px;
	padding: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.about .top-right-gradient {
    position: absolute;
    bottom: -80px;
    left: 3%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: linear-gradient(120deg, #23272A 0%, #2C2F33 100%);
    animation: scale 5s ease-in-out infinite;
}

.about .bottom-right-gradient{
	position: absolute;
    bottom: -57%;
    left: 92%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #2C2F33 0%, #23272A 100%);
}

.aboutText{
	position: relative;
	padding: 0 50px;
	height: inherit;
	animation: moveRight 0.6s ease-in-out;	
}

.aboutText img{
	width: 25vw;
	border-radius: 4px;
	position: absolute;
	left: 70px;
	margin-top: 10px;
	transition: 0.8s;
	animation-delay: 0.2s;
}


.aboutText h1{
	left: 55px;
	color: #fff;
	font-size: var(--medium);
	position: relative;
}

.aboutText h1 span{
	color: var(--purple);
	font-weight: 700;
}

.aboutList{
	width: 50%;
}

ol{
	list-style: none;
	color: var(--green);
}



ol li{
	font-size: 34px;
	position: relative;
	display: flex;
	margin-bottom: 20px;
	transition: 0.8s;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

li p{
	font-size: 18px;
	color: #fff;
	padding-left: 40px;
	line-height: 30px;
	opacity: 0.9;
}


ol li span{
	color: var(--purple);
	font-size: 38px;
	transition: 0.2s;
	font-weight: 650;
}

ol li span:hover{
	transform: translateX(-2px);
}

ol li.active a{
	font-weight: 700;
}

li .number{
	line-height: 25px;
	font-size: 600;
	position: absolute;
}

.wave{
	display: block;
}


.banner{
	height: 250px;
	background-color: var(--dark-bg); 	
	background-size: cover;
	display: flex;
	padding: 50px;
	justify-content: space-evenly;
	align-items: center;
}

.spark{
    position: absolute;
    bottom: 0;
    z-index: -2;	
    width: 100%;
    overflow: hidden;
}

.banner .text{
	justify-content: center;
	align-items: center;
	text-align: center;
	animation: scaleUp 0.6s ease-in-out;
}

.banner .text h1{
	color: #fff;
	font-size: 56px;
	font-weight: 700;
	margin: 0;	
}

.banner .text p{
	color: #fff;
	opacity: .9;
	text-align: center;
	font-weight: 500;
	font-size: var(--small);

}

/*.banner .text a{
	display: inline-block;
	margin-top: 10px;
	color: #fff;
	border-radius: 50px;
	font-size: var(--regular);
	background: var(--purple);
	padding: 17px 42px;
	transition: 0.3s;
}

.banner .text a:hover{
	transform: translateY(-2px);
}
*/

.banner .text a{
	display: inline-block;
	margin-top: 15px;
	color: #fff;
	margin-right: 9px;
	border-radius: 3px;
	padding: 0.9rem 2rem;
	background: var(--purple);
	font-size: 17px;
	transition: 0.3s;
}

.banner .text a:hover{
	padding: 0.9rem 2.4rem;
}

.banner .image{
	position: absolute;
	right: 0;
	transform: rotate(15deg);
}	


/* FOOTER */
.footer{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.f-logo{
    font-size: 35px;
    color: #fff;
    margin: 0;
    font-weight: 700;
}

.up-section .part{
	display: flex;

	animation: moveRight 0.6s ease-in-out;
	flex-direction: column;
}

.up-section .part .social{
	display: flex;
}


.up-section .part .social a{
	color: #fff;
	margin-right: 15px;
	font-size: 26px;
	opacity: .8;
	transition: 0.2s;
}

.up-section .part .social a:hover{
	opacity: 1;
}

.up-section .part p{
    font-size: 20px;
    opacity: .8;
    color: #fff;
    margin-top: 10px;
}
.up-section ul{
	animation: moveUp 0.6s ease-in-out;
	margin: 0px;
	padding: 0 20px;
}

.up-section ul li{
	list-style: none;
}

.up-section h1{
	color: #fff;
	font-size: 20px;
}

.up-section ul li a{
	font-size: 16px;
	color: #fff;
	opacity: .8;
	display: inline-block;
	margin-bottom: 7px;
	transition: 0.4s;
}

.up-section ul li a:hover{
	opacity: 1;
}

.up-section ul li p{
	font-size: 14px;
	color: #575a70;
	line-height: 10px;
}

.up-section{
	display: flex;
	justify-content: space-between;
	padding: 3% 0px;
	margin: 5px;
	width: 80%;
	flex-wrap: wrap;
}


.up-section ul li .tos{
	color: var(--red);
}
.credits{
	margin-left: 20px;
	margin-top: 15px;
	text-align: center;
	color: #fff;
	align-items: center;
	opacity: .5;
}

.credits p{
	font-size: 13px;
}

.credits a{

	margin: 2px;
	color: var(--purple);
	font-weight: 600;
}

/* keyframes */


@keyframes scale{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.275);
	}
	100%{
		transform: scale(1);
	}
}

@keyframes moveLonger{
	0%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(-5px);
	}
	100%{
		transform: translateY(0px);
	}
}

@keyframes move{
	0%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(-10px);
	}
	100%{
		transform: translateY(0px);
	}
}


/* animation keyframes*/

@keyframes moveRight{
    0% { 
        transform: translateX(-40px); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);  
        opacity: 1;
    }
}

@keyframes moveLeft{
    0% { 
        transform: translateX(40px); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);  
        opacity: 1;
    }
}


@keyframes moveUp{
    0% { 
        transform: translateY(10px); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);  
        opacity: 1;
    }
}

@keyframes scaleUp{
    0% { 
        transform: scale(1.025); 
        opacity: 0;
    }
    100% { 
        transform: scale(1);  
        opacity: 1;
    }
}


/* responsive */

@media (max-width: 720px){
	.footer{
		padding: 30px;
	}
	.up-section{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.up-section ul h1{
		font-size: 25px;
	}
	.up-section ul li{
		text-align: center;
		margin: 10px;
	}
	.up-section ul li a{
		font-size: 20px;
	}
	.up-section .part .social{
		text-align: center;
    	display: flex;
    	justify-content: center;
    	margin-bottom: 20px;
	}
	.part{
		text-align: center;
	}
}

@media only screen and (max-width: 991px){

	.landing{
		flex-direction: column-reverse;
		height: 781px;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.landing .text{
		width: 80%;
	}
	.landing .text .title{
		font-size: 45px;
		line-height: 65px;
	}
	.landing .text h3{
		font-size: 16px;
	}
	.landing .text .button{
		margin: 0 auto;
	}
	.landing .logo .image{
		width: 380px;
		margin-bottom: 30px;
		margin-top: 50px;
	}
	.about{
		height: auto;
		padding-bottom: 60px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.aboutText{
		padding: 0 50px;
		height: 100px
	}
	.aboutText h1{
		font-size: 5vw;
	}
	.aboutText img{
		display: none;
	}
	.aboutList{
		width: 75%;
	}
	ol li{
		font-size: 26px;
	}
	li p{
		font-size: 21px;
	}
	.banner{
		height: 200px;
		align-items: center;
		justify-content: space-evenly;

	}
	.banner .text h1{
		font-size: 39px;
	}
	.banner .text p{
		font-size: 16px;	
	}
	.banner .text a{
		font-size: 18px;
	}
	.footer .wrapper{
		flex-direction: column;
		padding-right: 0px;
	}
	.footer .wrapper .part .text .social i{
		font-size: 20px;
	}
	.footer .wrapper .part{
		flex-direction: column;
		width: 100%;
	}
	.footer .wrapper .part .row{
		margin-top: 25px;
	}
}

/* animation delays */

.d1{
	animation: moveLeft 0.6s ease-in-out;
}

.d2{
	animation: moveLeft 0.7s ease-in-out;
}

.d3{
	animation: moveLeft 0.8s ease-in-out;
}

.d4{
	animation: moveLeft 0.9s ease-in-out;
}