@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

html, body{
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
	background-color: #35383D;
}

html{
	scroll-behavior: smooth;
}

*{
	text-decoration: none!important;
}

:root{
	--purple: #9D65C9;
	--blue: #667eea ;
	--blurple: #7289DA;
	--dark-bg: #23272A;
	--bold: 70px;
	--medium: 55px;
	--regular: 20px;
	--small: 19px;
}

/* nav */

.grid{
  max-width: 1204px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}
.wrapper{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/*===== NAV =====*/
.nav{
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  background: #fff;
}

@media screen and (max-width: 768px){
  .menu{
    position: fixed;
    top: 3rem;
    right: -100%;
    width: 50%;
    height: 100%;
    padding: 2rem;
    background-color: #0E2431;
    backdrop-filter: blur(10px);
    transition: .5s;
  }
}

.item{
  margin-bottom: 2rem;
  list-style: none;
}
.link{
  position: relative;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}

.logo{
  color: var(--black);
  font-weight: 700;
  font-size: 1.3rem;
}
.toggle{
  color: var(--black);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active{
  color: var(--purple);
}

.show{
  right: 0;
}



@media screen and (min-width: 768px){
  .nav{
    height: calc(3rem + 1rem);
  }
  .list{
  	list-style: none;
    display: flex;
    padding-top: 0;
  }
  .item{
    margin-left: 3rem;
    margin-bottom: 0;
    list-style: none;
  }
  .toggle{
    display: none;
  }
  .link{
    color: #000;
  }
  .active{
    color: var(--purple);
    font-weight: 700;
  }
}


@media screen and (min-width: 1024px){
  .grid{
    margin-left: auto;
    margin-right: auto;
  }
}



/*intro */


.landing {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	background: url(../images/bg.png);
	background-size: 100%;
	height: 100vh;
	z-index: 100;
}

.landing .top-right-gradient{
	position: absolute;
	top: -40%;
	right: -20%;
	width: 700px;
	height: 700px;
	border-radius: 50%;
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.landing .bottom-left-gradient{
	position: absolute;
	bottom: 10px;
	left: -2%;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-image: linear-gradient(120deg, #bd79e8 0%, #7298DA 100%);
}

.landing .text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30%;
	margin-top: 20px;
	height: 200px;
}

.landing .text .title{
	font-size: var(--bold);
	color: #fff;
	margin: 0!important;
	padding-bottom: 10px;
	line-height: 85px;
}

.landing .text .title span{
	color: var(--blue);
}


.landing .text .description{
	font-size: var(--regular);
	line-height: 35px;
	color: #fff;
	opacity: .9;
	margin: 15px 0 25px;
	font-weight: 350;
}

.landing .text .buttons .color{
	width: 160px;
	margin-right: 20px;
	text-align: center;
	font-size: var(--regular);
	padding: 18px 20px;
	border-radius: 4px;
	background-color: #667eea;
	transition: 0.4s;
}
.landing .text .buttons .color:hover{
	color: #111;

}


.landing .text .button{
	width: 200px;
	text-align: center;
	font-size: var(--regular);
	padding: 18px 9px;
	border-radius: 50px;
}

.landing .text .button:hover{
	box-shadow: 0 8px 15px rgba(0,0,0,.2);
}


.landing .text a{
	display: inline-block;
	font-weight: 700;
	color: #fff;
}


.landing .logo .image{
	width: 679px;
	/*height: 567.11px;*/
	margin-top: 50px;
	transition: 0.5s;
}

/* footer */

.footer{
	background-color: #23272a;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.f-logo{
    font-size: 35px;
    color: #fff;
    margin: 0;
    font-weight: 700;
}

.up-section .part{
	display: flex;
	flex-direction: column;
}

.up-section .part .social{
	display: flex;
}

.up-section .part .social a{
	color: #fff;
	margin-right: 15px;
	font-size: 20px;
}


.up-section .part p{
    font-size: 20px;
    opacity: .8;
    color: #fff;
    margin-top: 10px;
}
.up-section ul{
	margin: 0px;
	padding: 0 20px;
}

.up-section ul li{
	list-style: none;
}

.up-section h1{
	color: #fff;
	font-size: 20px;
}

.up-section ul li a{
	font-size: 16px;
	color: #fff;
	opacity: .8;
	display: inline-block;
	margin-bottom: 7px;
	transition: 0.4s;
}

.up-section ul li a:hover{
	opacity: 1;
}


.up-section ul li p{
	font-size: 14px;
	color: #575a70;
	line-height: 10px;
}

.up-section{
	display: flex;
	justify-content: space-between;
	padding: 3% 0px;
	margin: 5px;
	width: 80%;
	flex-wrap: wrap;
}

.credits{
	margin-left: 20px;
	margin-top: 15px;
	text-align: center;
	color: #fff;
	align-items: center;
	opacity: .5;
}

.credits p{
	font-size: 13px;
}

.credits a{

	margin: 2px;
	color: var(--purple);
	font-weight: 600;
}


/* responsive */

@media (max-width: 720px){
	.footer{
		padding: 30px;
	}
	.up-section{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.up-section ul h1{
		font-size: 25px;
	}
	.up-section ul li{
		text-align: center;
		margin: 10px;
	}
	.up-section ul li a{
		font-size: 20px;
	}
	.up-section .part .social{
		text-align: center;
    	display: flex;
    	justify-content: center;
    	margin-bottom: 20px;
	}
	.part{
		text-align: center;
	}
}

@media only screen and (max-width: 991px){
	.landing{
		flex-direction: column-reverse;
		height: 100vh;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.landing .text{
		width: 80%;
	}
	.landing .text .title{
		font-size: 45px;
		line-height: 65px;
	}
	.landing .text h3{
		font-size: 16px;
	}
	.landing .text .button{
		margin: 0 auto;
	}
	.landing .logo .image{
		width: 380px;
		margin-bottom: 30px;
		margin-top: 60px;
	}
	.landing .top-right-gradient{
    	top: -29%;
    	right: -43%;
	}
}
