@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

body{
  background: url(../images/bg.png);
  background-attachment: fixed;
}

html{
  scroll-behavior: smooth;
}

:root{
  --purple: #9D65C9;
  --pink: #ff8cf9;
  --active: #7286cf;
  --blurple: #78a4fa;
  --darker-grey: #23272A;
  --dark-grey: #202024;
  --shadow: 3px 3px 5px 0 var(--dark-grey);
}



.overlay{
  z-index: 20000;
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  background: #000;
  top: 0%;
}

.overlay h1{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 12px;
}


/* nav */

.grid{
  max-width: 1204px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}
.wrapper{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/*===== NAV =====*/
.nav{
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  background: #fff;
}

@media screen and (max-width: 768px){
  .menu{
    position: fixed;
    top: 3rem;
    right: -100%;
    width: 50%;
    height: 100%;
    padding: 2rem;
    background-color: #0E2431;
    backdrop-filter: blur(10px);
    transition: .5s;
  }
}

.items{
  margin-bottom: 2rem;
  list-style: none;
}
.link{
  position: relative;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}

.logo{
  color: var(--black);
  font-weight: 700;
  font-size: 1.3rem;
}
.toggle{
  color: var(--black);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.actives{
  color: var(--purple);
}

.show{
  right: 0;
}



@media screen and (min-width: 768px){
  .nav{
    height: calc(3rem + 1rem);
  }
  .list{
    list-style: none;
    display: flex;
    padding-top: 0;
  }
  .items{
    margin-left: 3rem;
    margin-bottom: 0;
    list-style: none;
  }
  .toggle{
    display: none;
  }
  .link{
    color: #000;
  }
  .actives{
    color: var(--purple);
    font-weight: 700;
  }
}


@media screen and (min-width: 1024px){
  .grid{
    margin-left: auto;
    margin-right: auto;
  }
}

/* commands */

.commands{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    height: 100vh;
}

.command {
  display: inline-block;
  color: #ffffff;
  width: 70%;
  margin-bottom: 30px;
  line-height: 70px;
  text-align: center;
  display: none;
}

.show {
  display: block;
}

#categories{
  border-radius: 20px;
  display: flex;
  justify-content: center;

}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.title{
  color: #fff;
  text-align: center;
  margin: 55px 0 30px 0;
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
}

.btn:hover.premium{
  z-index: 2;
  background: var(--purple);
}

.btn.active.premium{
  background: var(--purple);
}

.btn{
  border: none;
  outline: none;
  color: #fff;
  font-weight: 580;
  font-family: 'Roboto', sans-serif;
  background: var(--darker-grey);
  margin-right: 20px;
  cursor: pointer;
  padding: 13px 20px;
  margin-bottom: 30px;
  border-radius: 2px;
  transition: 0.3s;
}

.btn:hover{
  background: var(--blurple);
}

.btn.active {
  background-color: var(--active);
  color: white;
  border: none;
}


.item{
  background: var(--dark-grey);
  color: #fff;
  box-shadow: var(--shadow);
  border-radius: 3px;
}

.item .header{
  padding-left: 15px;
  min-height: 2.5rem;
  padding: 1rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.item .header h4{
  margin-left: 18px;
}

.item .header .fa-angle-right{
  color: #fff;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.item .header .right{
	position: absolute;
	right: 0;
	color: var(--pink);
	padding: 20px;
	font-size: 18px;
}


.item .header.active .fa-angle-right{
  transform: rotate(90deg);
}

.item .body{
  transition: max-height 0.3s ease-out;
  max-height: 0;
  overflow: hidden;
}

.item .body .content{
  padding: 1rem;
  border-top: 2px solid;
  border-image:  linear-gradient(to right, transparent, #23272A, transparent) 1;
  opacity: .9;
  line-height: 1.5rem;
  color: #fff;
  transition: 0.3s;
}

.item .body .content p{
  font-size: 14px;
  color: #fff;
  text-align: left;
  margin: 0;
}

/* footer */
.footer{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	background: var(--dark-grey);

}

.f-logo{
    font-size: 35px;
    color: #fff;
    margin: 0;
    font-weight: 700;
}

.up-section .part{
	display: flex;
	flex-direction: column;
}

.up-section .part .social{
	display: flex;
}

.up-section .part .social a{
	color: #fff;
	margin-right: 15px;
	font-size: 26px;
}


.up-section .part p{
    font-size: 20px;
    opacity: .8;
    color: #fff;
    margin-top: 10px;
}
.up-section ul{
	margin: 0px;
	padding: 0 20px;
}

.up-section ul li{
	list-style: none;
}

.up-section h1{
	color: #fff;
	font-size: 20px;
}

.up-section ul li a{
	font-size: 16px;
	color: #fff;
	opacity: .8;
	display: inline-block;
	margin-bottom: 7px;
	transition: 0.4s;
}

.up-section ul li a:hover{
  opacity: 1;
}


.up-section ul li p{
	font-size: 14px;
	color: #575a70;
	line-height: 10px;
}

.up-section{
	display: flex;
	justify-content: space-between;
	padding: 3% 0px;
	margin: 5px;
	width: 80%;
	flex-wrap: wrap;
}

.credits{
	margin-left: 20px;
	margin-top: 15px;
	text-align: center;
	color: #fff;
	align-items: center;
	opacity: .5;
}

.credits p{
	font-size: 13px;
}

.credits a{

	margin: 2px;
	color: var(--purple);
	font-weight: 600;
}



@media screen and (max-width: 650px){
	#categories{
		align-items: center;
		display: inline-block;
		text-align: center;
	}
	.commands{
		margin-top: 150px;
		padding: 10px;
	}
	.command{
		width: 100%;
	}
	.item .header h4{
		font-size: 15px;
	}
}



@media only screen and (max-width: 991px){
	.commands{
		margin-top: 100px;
	}
}


@media (max-width: 720px){
	.footer{
		padding: 30px;
	}
	.up-section{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.up-section ul h1{
		font-size: 18px;
	}
	.up-section ul li{
		text-align: center;
		margin: 10px;
	}
	.up-section ul li a{
		font-size: 16px;
	}
	.up-section .part .social{
		text-align: center;
    	display: flex;
    	justify-content: center;
    	margin-bottom: 20px;
	}
	.part{
		text-align: center;
		margin-bottom: 30px;
	}
}
