@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

html, body{
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	background: #35383D url(../images/bg.png);
	background-size: 100%;
}

html{
	scroll-behavior: smooth;
}

*{
	text-decoration: none!important;
}

:root{
	--purple: #9D65C9;
	--dark-bg: #23272A;
	--big: 20px;
	--opacity: .6;
	--bs: 0 19px 38px rgba(0,0,0,0.10);
	--regular: 18px;
}

/* nav */

.grid{
  max-width: 1204px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}
.wrapper{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/*===== NAV =====*/
.nav{
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  background: #fff;
}

@media screen and (max-width: 768px){
  .menu{
    position: fixed;
    top: 3rem;
    right: -100%;
    width: 50%;
    height: 100%;
    padding: 2rem;
    background-color: #0E2431;
    backdrop-filter: blur(10px);
    transition: .5s;
  }
}

.item{
  margin-bottom: 2rem;
  list-style: none;
}
.link{
  position: relative;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}

.logo{
  color: var(--black);
  font-weight: 700;
  font-size: 1.3rem;
}
.toggle{
  color: var(--black);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active{
  color: var(--purple);
}

.show{
  right: 0;
}



@media screen and (min-width: 768px){
  .nav{
    height: calc(3rem + 1rem);
  }
  .list{
  	list-style: none;
    display: flex;
    padding-top: 0;
  }
  .item{
    margin-left: 3rem;
    margin-bottom: 0;
    list-style: none;
  }
  .toggle{
    display: none;
  }
  .link{
    color: #000;
  }
  .active{
    color: var(--purple);
    font-weight: 700;
  }
}


@media screen and (min-width: 1024px){
  .grid{
    margin-left: auto;
    margin-right: auto;
  }
}

/* team */

.team{
	text-align: center;
}

.inner{
	max-width: 1200px;
	overflow: hidden;
	margin: auto;
	padding: 40px;
}

.team h1{
	font-size: 60px;
	color: #fff;
	margin-top: 120px;
	position: relative;
}

.member{
	float: left;
	width: calc(100% / 3);
	overflow: hidden;
	transition: 0.2s;
	padding: 40px 0;
}

.member:hover{
	background-color: rgb(0,0,0,0.2);
    border-radius: 8px;
}

.member img{

	width: 180px;
	height: 180px;
	border-radius: 50%;
	transition: 0.4s;
}

.member img:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.name{
	margin: 16px 0;
	color: #fff;
	font-size: var(--big);
	font-weight: 700;
}

.description{
	opacity: var(--opacity);
	font-size: var(--regular);
	color: #fff;
}

.footer{
	background-color: #23272a;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.f-logo{
    font-size: 35px;
    color: #fff;
    margin: 0;
    font-weight: 700;
}

.up-section .part{
	display: flex;
	flex-direction: column;
}

.up-section .part .social{
	display: flex;
}

.up-section .part .social a{
	color: #fff;
	margin-right: 15px;
	font-size: 20px;
}


.up-section .part p{
    font-size: 20px;
    opacity: .8;
    color: #fff;
    margin-top: 10px;
}
.up-section ul{
	margin: 0px;
	padding: 0 20px;
}

.up-section ul li{
	list-style: none;
}

.up-section h1{
	color: #fff;
	font-size: 20px;
}

.up-section ul li a{
	font-size: 16px;
	color: #fff;
	opacity: .8;
	display: inline-block;
	margin-bottom: 7px;
	transition: 0.4s;
}

.up-section ul li a:hover{
	transform: translateX(-2px);
	font-weight: 700;
}

.up-section ul li p{
	font-size: 14px;
	color: #575a70;
	line-height: 10px;
}

.up-section{
	display: flex;
	justify-content: space-between;
	padding: 3% 0px;
	margin: 5px;
	width: 80%;
	flex-wrap: wrap;
}

.credits{
	margin-left: 20px;
	margin-top: 15px;
	text-align: center;
	color: #fff;
	align-items: center;
	opacity: .5;
}

.credits p{
	font-size: 13px;
}

.credits a{

	margin: 2px;
	color: var(--purple);
	font-weight: 600;
}


@media (max-width: 720px){
	.footer{
		padding: 30px;
	}
	.up-section{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.up-section ul h1{
		font-size: 25px;
	}
	.up-section ul li{
		text-align: center;
		margin: 10px;
	}
	.up-section ul li a{
		font-size: 20px;
	}
	.up-section .part .social{
		text-align: center;
    	display: flex;
    	justify-content: center;
    	margin-bottom: 20px;
	}
	.part{
		text-align: center;
	}
}


@media screen and (max-width: 600px){
	.member{
		width: 100%;
	}
}
